{% extends 'base.html' %}

{% block content %}
<h1>workout view</h1>
<div>
    <b>Name: </b> {{workout.name}}
</div>
<div>
    <b>Date: </b> {{workout.date}}
</div>
<div>
    <b>Description: </b> {{workout.description}}
</div>
<div>
    <b>Duration: </b> {{workout.duration}} mins
</div>
<button>
    <a href="/workouts/{{workout.id}}/update">Update Details</a>
</button>

<form action="/workouts/{{workout.id}}/delete" method="POST">
    <button>Delete Workout</button>
</form>

<h3>Bookings:</h3>
<ul>
    {% for member in members %}
    <li>{{member.first_name}} {{member.last_name}}</li>
    {% endfor %}
</ul>

<button>
    <a href="/bookings/create">Add New Booking</a>
</button>



{% endblock %}