{% extends 'base.html'%}

{% block content %}
<h1>create new booking</h1>

<form action="/bookings" method="post">
    <div>
        <label for="member">Member</label>
        <select id="member" name="member_id">
            <option value="" selected disabled hidden></option>
            {% for member in members %}
            <option value="{{member.id}}">{{member.first_name}} {{member.last_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="workout">Workout</label>
        <select id="workout" name="workout_id">
            <option value="" selected disabled hidden></option>
            {% for workout in workouts %}
            <option value="{{workout.id}}">{{workout.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>


<div>

</div>

{% endblock %}