/* BASE FILE CONTENT */
body {
    font-family: sans-serif;
    margin: 0;
}

body>header {
    display: flex;
    background-image: linear-gradient(to bottom right, #1E2433, #5C8EAD);
    color: white;
    text-shadow: 1px 1px 2px #0F121A;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
}

body>header>nav>ul {
    display: flex;
    list-style: none;
}

body>header>nav>ul>li {
    margin-right: 1rem;
    font-size: 1.25rem;
}

body>header>nav>ul>li>a {
    color: white;
    text-decoration: none;
}

.nav_button {
    transition-duration: 0s;
}

.nav_button:hover {
    text-shadow: 0 0 3px #b7c455;
}

.nav_button:active {
    box-shadow: 0 1px #8e8e8e;
    transform: translateX(2px);
    transform: translateY(2px);
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    background-image: linear-gradient(to bottom right, #1E2433, #5C8EAD);
    color: white;
    text-shadow: 1px 1px 2px #0F121A;
    font-style: bold;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
}

/* INDEX FILE CONTENT */
#images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.img {
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

#welcome {
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

#rules {
    padding-left: 20px;
    letter-spacing: 1px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#rules_header {
    line-height: 1;
    align-self: center;
    margin-bottom: 0;
}

#para1 {
    align-self: center;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

#list1 {
    align-self: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

#para2 {
    align-self: center;
    margin-top: -1rem;
}

/* RESULT FILE CONTENT */
#result_header>h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

#result_header>h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

#results {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

#results_top {
    margin: auto;
    margin-bottom: -2px;
}

#results_bottom {
    margin: auto;
    margin-top: 0;
    margin-bottom: -18px;
}

.img_result {
    height: 100px;
    width: 120px;
}

#player_images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#player1_img {
    margin-left: 40px;
    margin-right: 40px;
}

#player2_img {
    margin-left: 40px;
    margin-right: 40px;
}

#bongo_celebration {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.bongo_cat {
    height: 40px;
    width: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

#play_again {
    margin: auto;
    margin-top: -2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#play_again>p {
    display: flex;
    justify-content: center;
}

#play_again>a {
    color: white;
    width: 5rem;
    margin: auto;
    outline: none;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 1.5px 2.5px #8e8e8e;
}

#play_again>a:link, #play_again>a:visited {
    background-image: linear-gradient(to bottom right, #1E2433, #5C8EAD);
    color: white;
    text-shadow: 1px 1px 2px #0F121A;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#play_again>a:hover, #play_again>a:active {
    background-image: linear-gradient(to bottom right, #697aa6, #94bad2);
    color: white;
    text-decoration: none;
    text-shadow: 0 0 3px #b7c455;
    transition-duration: 0s;
}

#play_again>a:active {
    box-shadow: 0 1px #8e8e8e;
    transform: translate(3px);
}

/* COMPUTER GAME FILE CONTENT */
#comp_game_header {
    display: flex;
    justify-content: center;
}

#bongo_cat_image {
    display: flex;
    justify-content: center;
}

.bongo_cat{
    height: 10rem;
    width: 8rem;
}

#comp_game_para_1 {
    display: flex;
    justify-content: center;
}

#comp_game_para_2 {
    display: flex;
    justify-content: center;
}

#comp_game_form {
    display: grid;
    grid-template-areas:
        'name_label name_input'
        'choice_label choice_input'
        'submit submit';
    grid-template-columns: 49%, 49%;
    grid-template-rows: 30%, 30%, 30%;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
}

#form_name_label {
    grid-area: name_label;
    margin-top: -3px;
}

#form_name_input {
    grid-area: name_input;
    margin-left: .5rem;
    margin-bottom: .5rem;
    margin-top: -.5rem;
    height: 25px;
}

#form_choice_label {
    grid-area: choice_label;
    margin-top: 4px;
}

#form_choice_input {
    grid-area: choice_input;
    margin-left: .5rem;
    margin-bottom: .75rem;
    height: 30px;
}

#form_submit {
    grid-area: submit;
    width: 7rem;
    height: 3rem;
    margin: auto;
    margin-top: 10px;
    background-image: linear-gradient(to bottom right, #1E2433, #5C8EAD);
    color: white;
    font-size: medium;
    text-shadow: 1px 1px 2px #0F121A;
    outline: none;
    border-style: none;
    border-radius: 5px;
    box-shadow: 1.5px 2.5px #8e8e8e;
}

#form_submit:hover, #form_submit:active {
    background-image: linear-gradient(to bottom right, #697aa6, #94bad2);
    transition-duration: 0s;
}

#form_submit:active {
    box-shadow: 0 1px #8e8e8e;
    transform: translate(3px);
}

/* PLAY PAGE CONTENT */
#play_images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#play_grid_area {
    display: grid;
    grid-template-areas:
        "play_header"
        "play_para1"
        "play_para2"
        "play_para3"
        "computer button";
    grid-template-rows: auto auto auto auto auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

#play_header {
    grid-area: play_header;
    grid-row: 1 / 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#play_para1 {
    grid-area: play_para1;
    grid-row: 2 / 2;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#play_para2 {
    grid-area: play_para2;
    grid-row: 3 / 3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#play_para3 {
    grid-area: play_para3;
    grid-row: 4 / 4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#computer_button {
    grid-area: computer_button;
    grid-row: 5 / 5;
    color: white;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;

    outline: none;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 1.5px 2.5px #8e8e8e;
}

#computer_button:link, #computer_button:visited {
    background-image: linear-gradient(to bottom right, #1E2433, #5C8EAD);
    color: white;
    text-shadow: 1px 1px 2px #0F121A;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#computer_button:hover, #computer_button:active {
    background-image: linear-gradient(to bottom right, #697aa6, #94bad2);
    color: white;
    text-shadow: 0 0 3px #b7c455;
    transition-duration: 0s;
    text-decoration: none;

}

#computer_button:active {
    box-shadow: 0 1px #8e8e8e;
    transform: translate(3px);
}