.index_page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}

.index_page_container > p {
    margin-bottom: 0px;
}

.index_table {
    width: auto;
    text-align: left;
}

.index_table_headers {
    background-color: #69add5;
    color: white;
}

#index_table_headers_workouts {
    background-color: #ee4646;
}

#index_table_headers_bookings {
    background-color: #2ea52e;
}

.index_table_headers > th {
    padding: 15px 10px;
}

.index_table_content > td {
    padding: 5px 10px;
}

.index_table_content:nth-child(even) {
    background-color: #f2f2f2;
}

.index_page_button {
    padding: 7px;
    border-radius: 8px;
    border-width: 1px;
}

.index_page_button:hover {
    background-color: #aeaeae;
}

.index_page_link {
    color: #000000;
    text-decoration: none;
}

#index_page_link_bookings {
    text-decoration: underline;
}

#index_page_link_bookings:hover {
    color: #0cca0c
}

#index_page_top_button {
    margin-top: 20px;
    margin-bottom: 20px;
}

#index_page_bottom_button {
    margin-top: 20px;
}
