<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{title}} - Rock Paper Scissors</title>
</head>

<body>
    <header>
        <h1>Rock Paper Scissors</h1>
        <nav>
            <ul>
                <li class="nav_button"><a href="/">Home</a></li>
                <li class="nav_button"><a href="/play">Play</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
<footer>
    <p> © 2022 ShunasRockPaperScissorsGame</p>
</footer>

</html>