{% extends "base.html" %}

{% block content %}

<div id="images">
    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHSZhqQuKqgAVxfcPn-2yJfMDkGG_Qw1hlfA&usqp=CAU" alt="Rock">
    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtm5govQePVaRv8KezORBkX4M8QFd3n76d6w&usqp=CAU" alt="Paper">
    <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAuaL3LKyK4KLkrpr5CZwp5QlsZsWIF9XTfg&usqp=CAU" alt="Scissors">

</div>
<div id="welcome">
    <h2>
        Welcome to Rock, Paper, Scissors!
    </h2>
</div>

<div id="rules">
    <p id="rules_header">
        Rules:
    </p>
    <p>
        <p id="para1">To play, you will need 2 players! Each player makes a choice between rock, paper or scissors.</p>
        <ul id="list1">
            <li>If you choose <b>rock</b>, you will win if your opponent chooses <b>scissors</b>. You will lose if your opponent
                chooses <b>paper</b>.</li>
            <li>If you choose <b>paper</b>, you will win if your opponent chooses <b>rock</b>. You will lose if your opponent
                chooses <b>scissors</b>.</li>
            <li>If you choose <b>scissors</b>, you will win if your opponent chooses <b>paper</b>. You will lose if your opponent
                chooses <b>rock</b>.</li>
        </ul>
        <div id="para2">
            <p>Hit the Play button at the top of the page to play your game!</p>
        </div>
    </p>
</div>


{% endblock %}