{% extends "base.html" %}

{% block content %}
    <div id="play_images">
        <img class="img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHSZhqQuKqgAVxfcPn-2yJfMDkGG_Qw1hlfA&usqp=CAU"
            alt="Rock">
        <img class="img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtm5govQePVaRv8KezORBkX4M8QFd3n76d6w&usqp=CAU"
            alt="Paper">
        <img class="img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAuaL3LKyK4KLkrpr5CZwp5QlsZsWIF9XTfg&usqp=CAU"
            alt="Scissors">
    </div>

<div id="play_grid_area">

    <h2 id="play_header">Play Game</h2>

    <p id="play_para1">To play a Player vs Player game, just enter your choice of rock, paper or scissors in the URL bar above.</p>

    <ul id="play_para2">
        <li>Player 1 should type their choice as follows: 127.0.0.1:5000/rock</li>
        <li>Player 2 should then type after Player 1's choice: 127.0.0.1:5000/rock/scissors</li>
        <li>Hit the Enter key to see who wins!</li>
    </ul>

    <p id="play_para3">To play a Player vs Computer game, hit the Play button below - your opponent awaits!</p>

    <a id="computer_button" href="/play/computer">Play</a>
</div>

{% endblock %}