{% extends 'base.html'%}

{% block content %}
<div>
    <b>Name: </b>{{member.first_name}} {{member.last_name}}
</div>
<div>
    <b>Date of Birth: </b>{{member.dob}}
</div>
<button>
    <a href="/members/{{member.id}}/update">Update Details</a>
</button>

<h3>Bookings:</h3>
<ul>
    {% for workout in workouts %}
    <li><b>Name: </b><a href="/workouts/{{workout.id}}">{{workout.name}}</a></li>
    <li><b>Date: </b>{{workout.date}}</li>
    {% endfor %}
</ul>

<button>
    <a href="/bookings/create">Add New Booking</a>
</button>

<form action="/members/{{member.id}}/delete" method="POST">
    <button>Delete Member</button>
</form>

{% endblock %}