{% extends 'base.html'%}

{% block content %}
<div>
    Name: {{member.first_name}} {{member.last_name}}
</div>
<div>
    Date of Birth: {{member.dob}}
</div>
<button>
    <a href="/members/{{member.id}}/update">Update Details</a>
</button>

<h3>Bookings:</h3>
<ul>
    {% for workout in workouts %}
    <li>Name: <a href="/workouts/{{workout.id}}">{{workout.name}}</a> | Date: {{workout.date}}</li>
    {% endfor %}
</ul>

<button>
    <a href="/bookings/create">Add New Booking</a>
</button>

<form action="/members/{{member.id}}/delete" method="POST">
    <button>Delete Member</button>
</form>

{% endblock %}